Repository sparcs-kaist/taxi-front, pull requests merged in 2022-11, with the labels that each got.

#311 #271 신고 내역 Modal 구현
  src/components/Mypage/Menu.tsx
  src/components/Mypage/Mypage.jsx
  src/components/Mypage/PopupMembers.jsx
  src/components/Mypage/PopupReport/ReportList.tsx
  src/components/Mypage/PopupReport/ReportOption.tsx
  src/components/Mypage/PopupReport/index.tsx
  src/components/common/DottedLine.tsx
  src/components/common/room/Room.jsx
  src/components/common/roomOptions/DatePicker.jsx
  src/styles/theme.ts
Labels: mypage

#312 #308 Introduce google analytics
  .env.example
  package-lock.json
  package.json
  src/components/Skeleton/Skeleton.jsx
  src/serverconf.js
  yarn.lock
Labels: skeleton

#309 #306 maxPartLength를 maxPeople로 수정
  src/components/AddRoom/AddRoom.tsx
  src/components/Search/Search.jsx
  src/components/common/roomOptions/MaxPartLength.tsx
  src/components/common/roomOptions/MaxPeople.tsx
Labels: searchroom

#323 #322 [Hotfix] alertAtom path
  src/recoil/alert/index.ts
Labels: 😱 bug

#320 #319 WhiteContainer를 tsx로 변경
  src/components/common/WhiteContainer.jsx
  src/components/common/WhiteContainer.tsx
Labels: common

#327 #326 Margin & Padding 타입 정의
  src/components/Chatting/Header/FullChatHeader.jsx
  src/components/Mypage/PopupModify.jsx
  src/components/Mypage/PopupReport/ReportList.tsx
  src/components/Search/RoomSelectionModal.jsx
  src/components/Skeleton/AlertProvider.jsx
  src/components/common/DottedLine.tsx
  src/components/common/room/Room.jsx
  src/types/global.d.ts
Labels: common

#334 mypage에서 userinfodetail use recoil
  src/components/Mypage/Mypage.jsx
  src/components/Mypage/PopupModify.jsx
Labels: mypage, 🔨refactoring

#337 #336 RoomSelectionModal 스타일 수정
  src/components/Search/RoomSelectionModal.jsx
  src/components/Search/SideResult.jsx
  src/components/common/DottedLine.tsx
  src/components/common/MiniCircle.tsx
  src/components/common/modal/Modal.jsx
  src/components/common/roomOptions/DatePicker.jsx
  src/components/common/roomOptions/Place.jsx
Labels: searchroom

#343 #341 내 방 채팅창 열려 있을 때 다른 페이지로 이동하지 않는 버그
  src/components/Skeleton/Navigation.tsx
Labels: 😱 bug

#344 #340 시간이 0일때 방 개설이 되지 않는 오류
  src/components/AddRoom/AddRoom.tsx
  src/components/common/roomOptions/Popup.css
  src/components/common/roomOptions/Time.tsx
  src/tools/moment.js
  src/types/react-mobile-picker-mod.d.ts
Labels: 😱 bug, newroom

#349 fix: 검색페이지 moment 날짜 설정 방식 변경
  src/components/Search/Search.jsx
Labels: 😱 bug, searchroom

#351 #345 BTNC 클래스 제거 및 theme을 default로 export
  src/App.css
  src/components/AddRoom/AddRoom.tsx
  src/components/AddRoom/FullParticipation.tsx
  src/components/Chatting/Header/FullChatHeader.jsx
  src/components/Chatting/MessageForm/FullChatMessageForm.jsx
  src/components/Chatting/MessageForm/NewMessage.jsx
  src/components/Chatting/MessagesBody/ImageFullscreen.jsx
  src/components/Error/Error.tsx
  src/components/Login/Login.jsx
  src/components/Mypage/Menu.tsx
  src/components/Mypage/Mypage.jsx
  src/components/Mypage/PopupMembers.jsx
  src/components/Mypage/PopupModify.jsx
  src/components/Mypage/PopupPolicy.jsx
  src/components/Mypage/PopupReport/ReportList.tsx
  src/components/Mypage/PopupReport/ReportOption.tsx
  src/components/Mypage/PopupReport/index.tsx
  src/components/Mypage/ProfileImg.jsx
  src/components/Myroom/R1Myroom.tsx
  src/components/Myroom/R2Myroom.jsx
  src/components/Reporting/PopupReport.tsx
  src/components/Search/RoomSelectionModal.jsx
  src/components/Search/Search.jsx
  src/components/Search/SideResult.jsx
  src/components/Skeleton/AlertProvider.jsx
  src/components/Skeleton/Navigation.tsx
  src/components/common/Button.tsx
  src/components/common/DottedLine.tsx
  src/components/common/Empty.tsx
  src/components/common/HeaderBar.tsx
  src/components/common/MiniCircle.tsx
  src/components/common/Title.jsx
  src/components/common/Tooltip.tsx
  src/components/common/WhiteContainer.tsx
  src/components/common/modal/Modal.jsx
  src/components/common/pagination/Pagination.tsx
  src/components/common/room/Room.jsx
  src/components/common/roomOptions/DatePicker.jsx
  src/components/common/roomOptions/MaxPeople.tsx
  src/components/common/roomOptions/Name.tsx
  src/components/common/roomOptions/Place.jsx
  src/components/common/roomOptions/Popup.tsx
  src/components/common/roomOptions/Time.tsx
  src/styles/theme.ts
Labels: ⚒ enhancement, common

#318 #317 채팅 헤더 리팩토링 및 스타일링
  .eslintrc.json
  src/components/Chatting/Header/FullChatHeader.jsx
  src/components/Chatting/Header/HeaderBody.jsx
  src/components/Skeleton/Skeleton.jsx
  src/components/common/DottedLine.tsx
  src/styles/theme.ts
Labels: chatting

#350 #348 오늘을 기본 날짜로 선택
  src/components/AddRoom/AddRoom.tsx
  src/components/Search/Search.jsx
  src/components/common/roomOptions/DatePicker.jsx
Labels: ⚒ enhancement

#325 #324 채팅창 스타일링 및 리팩토링
  src/components/Chatting/Chatting.jsx
  src/components/Chatting/Header/SideChatHeader.jsx
  src/components/Chatting/MessageForm/FullChatMessageForm.jsx
  src/components/Chatting/MessageForm/MessageForm.jsx
  src/components/Chatting/MessageForm/MessageForm.tsx
  src/components/Chatting/MessageForm/NewMessage.jsx
  src/components/Chatting/MessagesBody/ChatSet.jsx
  src/components/Chatting/MessagesBody/MessagesBody.jsx
  src/components/Chatting/SideChat.jsx
  src/components/Chatting/Style/Chatting.css
  src/components/Chatting/Style/Header.css
  src/components/Chatting/Style/SideChatMessageForm.css
Labels: chatting

#354 #339 기본 프로빌 사진 변경 오류
  src/components/Mypage/PopupModify.jsx
Labels: 😱 bug, mypage

#358 Refactor: remove true at props
  src/components/AddRoom/AddRoom.tsx
  src/components/AddRoom/FullParticipation.tsx
  src/components/Chatting/SideChat.jsx
  src/components/Mypage/Mypage.jsx
  src/components/Myroom/R1Myroom.tsx
  src/components/Myroom/R2Myroom.jsx
  src/components/Reporting/PopupReport.tsx
  src/components/Search/Search.jsx
  src/components/Search/SideResult.jsx
  src/components/Skeleton/AlertProvider.jsx
Labels: 🔨refactoring

#353 #352 정산/결제 시 과거 방으로 이동하지 않는 오류
  src/components/Chatting/Chatting.jsx
  src/components/Chatting/Header/FullChatHeader.jsx
  src/components/Chatting/Header/HeaderBody.jsx
  src/components/Chatting/Header/Popup/PopupCancel.jsx
  src/components/Chatting/Header/Popup/PopupPay.jsx
  src/components/Chatting/Header/Popup/PopupSend.jsx
  src/components/Myroom/Myroom.jsx
  src/components/Myroom/R2Myroom.jsx
Labels: 😱 bug, myroomlist

#355 #346 모바일에서 Picker 스크롤 오류
  package-lock.json
  package.json
  src/components/common/RLayout.jsx
  src/components/common/roomOptions/DatePicker.jsx
  src/components/common/roomOptions/Picker.css
  src/components/common/roomOptions/Picker.js
  src/components/common/roomOptions/Place.jsx
  src/components/common/roomOptions/Popup.css
  src/components/common/roomOptions/Popup.tsx
  src/components/common/roomOptions/Time.tsx
Labels: 😱 bug

#362 #359 채팅 분 표시 방식 수정
  src/components/Chatting/MessagesBody/ChatSet.jsx
Labels: 😱 bug, chatting

#316 #315 RLayout 손보기
  src/components/Chatting/Chatting.jsx
  src/components/Chatting/Header/FullChatHeader.jsx
  src/components/Chatting/Header/SideChatHeader.jsx
  src/components/Myroom/R2Myroom.jsx
  src/components/Search/Search.jsx
  src/components/Skeleton/Navigation.tsx
  src/components/common/RLayout.jsx
  src/components/common/Title.jsx
  src/hooks/useReactiveState.jsx
Labels: common

#364 #363 Picker 사용성 개선
  src/components/common/roomOptions/Picker.js
Labels: 😱 bug, common

#369 #365.2 베타 안내창 띄우기
  .gitignore
  src/static/betaNotice.js
Labels: mypage

#371 #370 베타 안내창 및 Picker 스타일 수정
  src/components/common/roomOptions/Picker.css
  src/static/betaNotice.js
Labels: 😱 bug

#379 #378 최대 인원 옵션만 켠채로 검색시 방을 반환하지 않는 오류
  src/components/Search/Search.jsx
Labels: 😱 bug, searchroom

#376 #375 검색 후 방 참가 시 내 방 목록에 바로 뜨지 않는 오류
  src/components/AddRoom/AddRoom.tsx
  src/components/Mypage/Menu.tsx
  src/components/Search/RoomSelectionModal.jsx
  src/components/common/roomOptions/Picker.js
Labels: 😱 bug, searchroom, myroomlist

#383 모달, popup에서 Enter, Esc 동작 추가
  src/components/Mypage/PopupModify.jsx
  src/components/common/modal/Modal.jsx
  src/components/common/roomOptions/Popup.tsx
  src/hooks/useKeyboardOperation.tsx
Labels: ⚒ enhancement, common

#391 #360 모달이 비활성화 상태일 때 unmount 수정 제안
  src/components/Skeleton/AlertProvider.jsx
  src/components/common/modal/Modal.jsx
  src/hooks/useDelay.tsx
Labels: 🔨refactoring

#361 #360 모달이 비활성화 상태일 때 unmount
  src/components/Skeleton/AlertProvider.jsx
  src/components/common/modal/Modal.jsx
  src/hooks/useDelay.tsx
  src/styles/theme.ts
Labels: ⚒ enhancement

#388 #382 모달 예상치 못하게 닫힘
  src/components/common/RLayout.jsx
  src/components/common/modal/Modal.jsx
Labels: 😱 bug

#402 #384 아이폰 웹앱 사용성 개선
  src/components/Chatting/Header/FullChatHeader.jsx
  src/components/Chatting/MessageForm/MessageForm.tsx
  src/components/Skeleton/Footer.jsx
  src/components/Skeleton/Skeleton.jsx
  src/components/common/HeaderBar.tsx
  src/styles/theme.ts
Labels: chatting, skeleton

#387 #386 키보드 눌렀을 시 Picker focus
  src/components/common/roomOptions/Picker.css
  src/components/common/roomOptions/Picker.js
  src/components/common/roomOptions/Popup.tsx
Labels: common

#411 #395 bug chatting next date
  src/components/Chatting/MessagesBody/MessagesBody.jsx
Labels: 😱 bug, chatting

#410 Refactor: 날짜 선택 가능일을 현재로부터 14일까지로 변경
  src/components/common/roomOptions/DatePicker.jsx
Labels: ⚒ enhancement, common

#328 #78.2 Introduce react-i18next
  package-lock.json
  package.json
  src/App.js
  src/components/Mypage/Mypage.jsx
  src/components/Skeleton/Skeleton.jsx
  src/lang/addroom/en.json
  src/lang/addroom/ko.json
  src/lang/i18n.js
  src/lang/mypage/en.json
  src/lang/mypage/ko.json
  src/lang/myroom/en.json
  src/lang/myroom/ko.json
  src/lang/search/en.json
  src/lang/search/ko.json
  yarn.lock
Labels: mypage, lang

#413 #409 베타 안내창 지우기
  src/components/Mypage/Mypage.jsx
  src/components/Skeleton/Skeleton.jsx
Labels: mypage, common

#412 #408 홈페이지 제작
  package-lock.json
  src/App.js
  src/components/Home/Date.tsx
  src/components/Home/InfoSection.tsx
  src/components/Home/RoomList.tsx
  src/components/Home/RoomSection.tsx
  src/components/Home/SelectDate.tsx
  src/components/Home/index.tsx
  src/components/Search/RoomSelectionModal.jsx
  src/components/Search/SideResult.jsx
  src/components/Skeleton/Navigation.tsx
  src/components/Skeleton/Skeleton.jsx
  src/components/common/Empty.tsx
  src/components/common/Title.jsx
  src/recoil/loginInfoDetail/atom.ts
  src/recoil/loginInfoDetail/index.js
  src/recoil/loginInfoDetail/index.ts
  src/static/assets/BackgroundImage.jpg
  src/static/assets/BackgroundImageDesktop.webp
  src/static/assets/BackgroundImageMobile.webp
  src/static/assets/TaxiLogoWhite.svg
  src/styles/theme.ts
Labels: home

#405 #356 아이폰 모달 스크롤 오류 해결
  src/App.css
  src/components/Mypage/PopupModify.jsx
  src/components/Skeleton/Skeleton.jsx
  src/hooks/useDisableScroll.tsx
  src/hooks/useWindowInnerHeight.tsx
  src/styles/theme.ts
Labels: 😱 bug

#401 #400 모바일 검색 결과 창 아래에 뜨도록 수정
  src/App.js
  src/components/Chatting/Header/FullChatHeader.jsx
  src/components/Chatting/MessagesBody/MessagesBody.jsx
  src/components/Myroom/R2Myroom.jsx
  src/components/Search/ScrollButton.tsx
  src/components/Search/Search.jsx
  src/components/Search/SideResult.jsx
  src/components/common/RLayout.jsx
  src/components/common/Title.jsx
  src/tools/ScrollRestoration.js
Labels: searchroom

#415 #414 [Bug] Hotfix: 홈페이지 month 표시 수정
  src/components/Home/SelectDate.tsx
Labels: 😱 bug, home
