Repository sparcs-kaist/taxi-front, pull requests merged in 2022-12, with the labels that each got.

#420 Skeleton directory 내 typescript 전환
  src/components/Skeleton/AlertProvider.tsx
  src/components/Skeleton/ChannelTalk.tsx
  src/components/Skeleton/Footer.jsx
  src/components/Skeleton/Footer.tsx
  src/components/Skeleton/Skeleton.tsx
Labels: skeleton, 🔨refactoring

#426 Fix: 홈에서 전체를 선택했을 때 월이 잘못 표시되는 현상
  src/components/Home/SelectDate.tsx
Labels: 😱 bug, home

#423 #422 MyRoom 내의 Chatting을 fixed로 전환
  src/components/Chatting/Chatting.jsx
  src/components/Chatting/Header/SideChatHeader.jsx
  src/components/Chatting/MessagesBody/ChatSet.jsx
  src/components/Chatting/MessagesBody/MessagesBody.jsx
  src/components/Myroom/R2Myroom.jsx
  src/components/common/WhiteContainer.tsx
Labels: myroomlist, chatting

#385 #381 Datepicker 화살표 disabled, 접기, 스크롤
  src/App.css
  src/components/AddRoom/AddRoom.tsx
  src/components/Mypage/Menu.tsx
  src/components/Search/Search.jsx
  src/components/common/Button.tsx
  src/components/common/Empty.tsx
  src/components/common/roomOptions/Date.tsx
  src/components/common/roomOptions/DatePicker.jsx
  src/components/common/roomOptions/MaxPeople.tsx
  src/components/common/roomOptions/Name.tsx
  src/components/common/roomOptions/Place.jsx
  src/components/common/roomOptions/Time.tsx
Labels: newroom, searchroom
