Repository sparcs-kaist/taxi-front, pull requests merged in 2023-09, with the labels that each got.

#617 #604 채팅 정산/송금 모달 수정, #603 신고하기 모달 수정
  src/components/AccountSelector.tsx
  src/components/Chat/Header/SideMenu.tsx
  src/components/Chat/MessageForm/Popup/PopupAccount.tsx
  src/components/Chat/MessageForm/ToolSheet/index.tsx
  src/components/Chat/MessageForm/index.tsx
  src/components/Chat/MessagesBody/MessageSet/MessageAccount.tsx
  src/components/Chat/MessagesBody/MessageSet/index.tsx
  src/components/Chat/MessagesBody/index.tsx
  src/components/Chat/index.tsx
  src/components/Input/InputAccount.tsx
  src/components/Input/Select.tsx
  src/components/Input/index.tsx
  src/components/Link/LinkCopy.tsx
  src/components/Link/LinkPayment.tsx
  src/components/Modal/ModalElem.tsx
  src/components/ModalPopup/Body/BodyCallTaxi.tsx
  src/components/ModalPopup/Body/BodyChatReportDone.tsx
  src/components/ModalPopup/Body/BodyChatReportSelectType.tsx
  src/components/ModalPopup/Body/BodyChatReportSelectUser.tsx
  src/components/ModalPopup/ModalCallTaxi.tsx
  src/components/ModalPopup/ModalChatPayment.tsx
  src/components/ModalPopup/ModalChatReport.tsx
  src/components/ModalPopup/ModalChatSaveAccount.tsx
  src/components/ModalPopup/ModalChatSettlement.tsx
  src/components/ModalPopup/ModalCredit.tsx
  src/components/ModalPopup/ModalMypageModify.tsx
  src/components/ModalPopup/ModalReportInChatting.tsx
  src/components/ModalPopup/index.tsx
  src/components/Room/index.jsx
  src/components/Skeleton/AlertProvider.tsx
  src/components/User/ProfileImage.tsx
  src/components/User/index.tsx
  src/hooks/chat/useAccountFromChats.tsx
  src/hooks/chat/useChatsForBody.tsx
  src/pages/Mypage/index.tsx
  src/pages/Mypage/langs/ko.json
  src/pages/Search/SideResult.jsx
  src/static/assets/KakaoPayLogo.svg
  src/static/assets/KakaoTaxiLogo.svg
  src/static/assets/TossLogo.svg
  src/tools/chat/chats.ts
  src/tools/regExpTest.js
  src/types/chat.d.ts
  src/types/global.d.ts
Labels: chatting, 🚨 reporting

#619 #618 출발 15분전 메시지 수신
  src/components/Chat/MessagesBody/MessageSet/MessageArrival.tsx
  src/components/Chat/MessagesBody/MessageSet/MessageDeparture.tsx
  src/components/Chat/MessagesBody/MessageSet/index.tsx
  src/hooks/chat/useBodyScrollControllerEffect.tsx
  src/hooks/chat/useChatsForBody.tsx
  src/tools/chat/chats.ts
  src/types/chat.d.ts
Labels: chatting

#606 #580 택시 앱의 웹뷰 사용 여부 확인 로직 개선
  .prettierrc.json
  src/atoms/isApp.ts
  src/atoms/loginInfo.ts
  src/components/Chat/Container/index.tsx
  src/components/Link/LinkCopy.tsx
  src/components/Link/LinkKakaotalkShare.tsx
  src/components/Link/LinkLogin.tsx
  src/components/Link/LinkLogout.tsx
  src/components/ModalPopup/Body/BodyNotificationGuide.tsx
  src/components/ModalPopup/Body/BodyRoomShare.tsx
  src/components/ModalPopup/ModalNotification.tsx
  src/components/Skeleton/SocketToastProvider.tsx
  src/components/Skeleton/index.tsx
  src/hooks/skeleton/useChannelTalkEffect/index.tsx
  src/hooks/skeleton/useFirebaseMessagingEffect.tsx
  src/hooks/skeleton/useFlutterEventCommunicationEffect.tsx
  src/hooks/skeleton/useGoogleAnalyticsEffect.tsx
  src/hooks/skeleton/useI18nextEffect.tsx
  src/hooks/skeleton/useVirtualKeyboardDetectEffect.tsx
  src/hooks/useFetchRecoilState/index.tsx
  src/hooks/useTaxiAPI/axios.ts
  src/pages/Mypage/index.tsx
  src/tools/isMobile.ts
  src/tools/loadenv.ts
  src/tools/trans.js
Labels: ⚒ enhancement

#626 #620 `Button` 와 `WhiteContainer` Component에 `css` props 추가
  src/components/Button/index.tsx
  src/components/ModalPopup/Body/BodyChatReportDone.tsx
  src/components/ModalPopup/Body/BodyChatReportSelectType.tsx
  src/components/ModalPopup/Body/BodyChatReportSelectUser.tsx
  src/components/ModalPopup/Body/BodyRoomSelection.tsx
  src/components/ModalPopup/ModalChatCancel.tsx
  src/components/ModalPopup/ModalChatPayment.tsx
  src/components/ModalPopup/ModalChatSaveAccount.tsx
  src/components/ModalPopup/ModalChatSettlement.tsx
  src/components/ModalPopup/ModalMypageModify.tsx
  src/components/ModalPopup/ModalTerms.tsx
  src/components/ModalRoomOptions/Date.tsx
  src/components/ModalRoomOptions/MaxPeople.tsx
  src/components/ModalRoomOptions/Name.tsx
  src/components/ModalRoomOptions/Place.jsx
  src/components/ModalRoomOptions/Time.tsx
  src/components/Skeleton/AlertProvider.tsx
  src/components/WhiteContainer/WhiteContainerSuggestLogin.tsx
  src/components/WhiteContainer/index.tsx
  src/pages/Addroom/FullParticipation.tsx
  src/pages/Addroom/index.tsx
  src/pages/Error/index.tsx
  src/pages/Event/Event2023Spring.tsx
  src/pages/Home/EventSection/EventSection2023Fall.tsx
  src/pages/Home/EventSection/EventSection2023Spring.tsx
  src/pages/Home/EventSection/index.tsx
  src/pages/Home/InfoSection.tsx
  src/pages/Home/index.tsx
  src/pages/Login/index.jsx
  src/pages/Mypage/index.tsx
  src/pages/Myroom/R2Myroom.jsx
  src/pages/Search/SideResult.jsx
  src/pages/Search/index.jsx
  src/tools/loadenv.ts
Labels: common

#628 #580.2 App에서 `SuggestAppTopBar`이 띄어지는 버그 해결
  src/components/Skeleton/index.tsx
Labels: 😱 bug, skeleton

#629 #580.3 App에서 SuggestAppTopBar이 띄어지는 버그 해결
  src/components/Skeleton/index.tsx
Labels: 😱 bug, skeleton

#627 #620.2 홈페이지에 2023 추석 이벤트 섹션 추가
  src/components/AdaptiveDiv/AdaptiveCenter.tsx
  src/components/AdaptiveDiv/index.tsx
  src/components/Chat/Container/index.tsx
  src/components/Event/CreditAmountStatusContainer/index.tsx
  src/components/Event/RabbitAnimatedBackground/index.tsx
  src/components/Event/RabbitAnimatedBackground/indexMoon.css
  src/components/Event/RabbitAnimatedBackground/indexRabbit.css
  src/components/Header/HeaderBar.tsx
  src/components/Header/HeaderWithLeftNav.tsx
  src/components/ModalPopup/Modal2023FallEventRandomBox.tsx
  src/components/ModalPopup/index.tsx
  src/components/Skeleton/index.tsx
  src/components/Title.tsx
  src/pages/Event/Event2023Fall.tsx
  src/pages/Event/Event2023FallHistory.tsx
  src/pages/Event/Event2023FallMissions.tsx
  src/pages/Event/Event2023FallStore/NPCSection.tsx
  src/pages/Event/Event2023FallStore/index.tsx
  src/pages/Event/index.tsx
  src/pages/Home/EventSection/EventSection2023Fall.tsx
  src/static/events/2023fallCredit.svg
  src/static/events/2023fallMissionBackground.png
  src/static/events/2023fallRiceCake1.svg
  src/static/events/2023fallRiceCake2.svg
  src/static/events/2023fallRiceCake3.svg
  src/static/events/2023fallRiceCake4.svg
Labels: home, event

#631 #580.4 Flutter에서 이벤트 호출 전 `isApp` 인식 실패 버그 해결
  src/hooks/skeleton/useFlutterEventCommunicationEffect.tsx
  src/hooks/skeleton/useVirtualKeyboardDetectEffect.tsx
  src/hooks/useFetchRecoilState/index.tsx
Labels: 😱 bug

#630 #621 상점 추가
  src/atoms/event2023FallInfo.ts
  src/components/Event/CreditAmountStatusContainer/index.tsx
  src/components/Header/HeaderWithLeftNav.tsx
  src/components/ModalPopup/ModalEvent2023FallItem.tsx
  src/components/ModalPopup/index.tsx
  src/components/ModalRoomOptions/Picker.js
  src/components/WhiteContainer/index.tsx
  src/hooks/useFetchRecoilState/index.tsx
  src/hooks/useFetchRecoilState/useFetchEvent2023FallInfo.tsx
  src/pages/Event/Event2023FallStore/ItemListSection.tsx
  src/pages/Event/Event2023FallStore/NPCSection.tsx
  src/pages/Event/Event2023FallStore/index.tsx
  src/pages/Home/Date.tsx
  src/pages/Home/RoomSection.tsx
  src/pages/Search/SideResult.jsx
  src/static/events/2023fallStoreTextBubble.svg
  src/tools/random/event2023FallStoreSpeeches.ts
  src/tools/random/index.ts
  src/types/event2023fall.d.ts
Labels: event

#632 #620.3 홈페이지에 2023 추석 이벤트 섹션 추가
  src/components/Event/EventProvider/index.tsx
  src/components/Modal/ModalElem.tsx
  src/components/ModalPopup/Modal2023FallEventRandomBox.tsx
  src/components/ModalPopup/ModalEvent2023FallMissionComplete.css
  src/components/ModalPopup/ModalEvent2023FallMissionComplete.tsx
  src/components/ModalPopup/ModalEvent2023FallRandomBox.css
  src/components/ModalPopup/ModalEvent2023FallRandomBox.tsx
  src/components/ModalPopup/index.tsx
  src/index.tsx
  src/pages/Event/Event2023FallMissions.tsx
  src/pages/Event/Event2023FallStore/NPCSection.tsx
  src/pages/Event/Event2023FallStore/index.tsx
Labels: home, event

#635 #580.5 `IOS` 앱 기기에서 `LinkCopy`가 작동하지 않는 버그 해결
  src/components/Link/LinkCopy.tsx
Labels: 😱 bug, common

#637 #623 구매 이력 목업 `Purchase Contaniner` 컨테이너 제작
  src/components/Chat/Header/SideMenu.tsx
  src/components/Event/CreditAmountStatusContainer/index.tsx
  src/components/Event/EventProvider/index.tsx
  src/components/Header/HeaderWithLeftNav.tsx
  src/components/ModalPopup/ModalEvent2023FallItem.tsx
  src/components/Title.tsx
  src/pages/Event/Event2023Fall.tsx
  src/pages/Event/Event2023FallHistory.tsx
  src/pages/Event/Event2023FallMissions.tsx
  src/pages/Event/Event2023FallStore/index.tsx
  src/pages/Home/EventSection/EventSection2023Fall.tsx
  src/static/events/2023fallTicket1.svg
  src/static/events/2023fallTicket2.svg
  src/types/event2023fall.d.ts
Labels: event

#639 #638 [Bug] 사파리에서 채팅 MessageForm 에 한글 연달아 전송 시, 이전 입력이 같이 들어옴
  src/components/Chat/MessageForm/InputText/BodyText.tsx
  src/components/Loading.tsx
  src/pages/Event/Event2023FallStore/PublicNoticeContainer.tsx
Labels: 😱 bug, chatting

#645 #644.1 안내 페이지 목업 인스타그램 공유 버튼 제작
  src/hooks/skeleton/useFlutterEventCommunicationEffect.tsx
  src/pages/Event/Event2023Fall.tsx
Labels: event

#646 #621.3 달토끼 상점 랜덤박스 디자인 적용
  src/components/Chat/MessagesBody/MessageSet/index.tsx
  src/components/Footer.tsx
  src/components/Header/HeaderWithBackButton.tsx
  src/components/Header/HeaderWithLeftNav.tsx
  src/components/Header/index.tsx
  src/components/ModalPopup/Body/BodyCallTaxi.tsx
  src/components/ModalPopup/Body/BodyRoomShare.tsx
  src/components/ModalPopup/ModalChatPayment.tsx
  src/components/ModalPopup/ModalCredit.tsx
  src/components/ModalPopup/ModalEvent2023FallMissionComplete.tsx
  src/components/ModalPopup/ModalEvent2023FallRandomBox.css
  src/components/ModalPopup/ModalEvent2023FallRandomBox.tsx
  src/components/ModalPopup/ModalEvent2023FallRandomBoxBackground.css
  src/components/ModalPopup/ModalPrivacyPolicy.tsx
  src/components/ModalPopup/ModalTerms.tsx
  src/components/Skeleton/SuggestAppTopBar.tsx
  src/pages/Error/index.tsx
  src/pages/Event/Event2023Fall.tsx
  src/pages/Home/InfoSection.tsx
  src/pages/Login/index.jsx
  src/static/assets/serviceLogos/KakaoPayLogo.svg
  src/static/assets/serviceLogos/KakaoTalkLogo.svg
  src/static/assets/serviceLogos/KakaoTaxiLogo.svg
  src/static/assets/serviceLogos/TmoneyOndaLogo.png
  src/static/assets/serviceLogos/TossLogo.svg
  src/static/assets/serviceLogos/UTLogo.svg
  src/static/assets/sparcsLogos/SparcsLogoBlack.svg
  src/static/assets/sparcsLogos/SparcsLogoPurple.svg
  src/static/assets/sparcsLogos/SparcsLogoWithText.svg
  src/static/assets/sparcsLogos/SparcsLogoYellow.svg
  src/static/assets/sparcsLogos/TaxiAppIcon.svg
  src/static/assets/sparcsLogos/TaxiLogo.svg
  src/static/assets/sparcsLogos/TaxiLogoWhite.svg
  src/static/events/2023fallRandomboxBack.svg
  src/static/events/2023fallRandomboxFront.svg
  src/static/events/2023fallRandomboxFrontLight.svg
  src/static/events/2023fallRandomboxLeft.svg
  src/static/events/2023fallRandomboxRight.svg
  src/static/events/2023fallRandomboxRightLight.svg
  src/static/events/2023fallRandomboxTop.svg
Labels: event

#648 #644.2 이벤트 메인페이지 제작
  src/components/Footer/ButtonAboveFooter.tsx
  src/components/Footer/index.tsx
  src/pages/Event/Event2023Fall.tsx
  src/pages/Event/Event2023SpringGuide.tsx
  src/pages/Event/index.tsx
  src/pages/Home/EventSection/EventSection2023Fall.tsx
  src/pages/Mypage/langs/ko.json
  src/static/events/2023fallHomeMain.svg
  src/static/events/2023fallHomeMission.svg
  src/static/events/2023fallHomeStore.svg
  src/static/events/2023fallMainSection1.svg
  src/static/events/2023fallMainSection2.svg
  src/static/events/2023fallMainSection4.svg
  src/static/events/2023fallMainSection5.svg
  src/static/events/2023fallMainSection5Background.svg
  src/static/events/2023fallMainSection6.svg
  src/static/events/2023fallMainStep2.svg
  src/static/events/2023fallMainStep3.svg
  src/static/events/2023fallMainTitle.svg
  src/static/events/2023fallMissionComplete.svg
Labels: event

#647 #625 create quest completion system
  src/atoms/event2023FallInfo.ts
  src/components/Event/EventProvider/index.tsx
  src/components/ModalPopup/ModalChatPayment.tsx
  src/components/ModalPopup/ModalChatSaveAccount.tsx
  src/components/ModalPopup/ModalChatSettlement.tsx
  src/components/ModalPopup/ModalEvent2023FallItem.tsx
  src/components/ModalPopup/ModalMypageModify.tsx
  src/components/ModalPopup/ModalRoomShare.tsx
  src/components/Skeleton/index.tsx
  src/hooks/event/useEvent2023FallQuestComplete.ts
  src/hooks/event/useEventEffect.ts
  src/hooks/skeleton/useFlutterEventCommunicationEffect.tsx
  src/index.tsx
  src/pages/Addroom/index.tsx
  src/tools/sendEventToFlutter.ts
  src/types/event2023fall.d.ts
Labels: event

#650 #624 create quest page
  src/components/Footer/index.tsx
  src/hooks/skeleton/useFlutterEventCommunicationEffect.tsx
  src/hooks/useFetchRecoilState/useFetchEvent2023FallInfo.tsx
  src/pages/Event/Event2023Fall.tsx
  src/pages/Event/Event2023FallMissions.tsx
  src/static/events/2023fallMissionComplete.svg
Labels: event

#642 #641 create leaderboard page
  src/components/Empty.tsx
  src/components/ModalPopup/Body/BodyReport.tsx
  src/components/Title.tsx
  src/hooks/useTaxiAPI/useQuery.ts
  src/pages/Event/Event2023FallLeaderboard.tsx
  src/pages/Home/RoomList.tsx
  src/pages/Myroom/R1Myroom.tsx
  src/pages/Myroom/R2Myroom.jsx
  src/pages/Search/SideResult.jsx
Labels: event

#653 #621.4 이벤트 열람 전 최종 스타일링
  src/components/Event/BodyRandomBox/index.tsx
  src/components/Footer/index.tsx
  src/components/ModalPopup/ModalEvent2023FallItem.tsx
  src/components/ModalPopup/ModalEvent2023FallRandomBox.tsx
  src/pages/Event/Event2023Fall.tsx
  src/pages/Event/Event2023FallHistory.tsx
  src/pages/Event/Event2023FallLeaderboard.tsx
  src/pages/Event/Event2023FallMissions.tsx
  src/pages/Event/Event2023FallStore/ItemListSection.tsx
  src/pages/Event/Event2023FallStore/PublicNoticeContainer.tsx
  src/pages/Event/Event2023FallStore/index.tsx
  src/pages/Home/EventSection/EventSection2023Fall.tsx
  src/static/events/2023fallLeaderBoardItems.svg
  src/static/events/2023fallMissionBackground.png
  src/static/events/2023fallMissionComplete.svg
  src/static/events/2023fallStoreSoldOut.svg
  src/tools/loadenv.ts
Labels: event

#655 #621.5 이벤트 열람 전 최종 오타 수정
  src/pages/Event/Event2023FallHistory.tsx
  src/pages/Event/Event2023FallMissions.tsx
  src/pages/Home/EventSection/EventSection2023Fall.tsx
Labels: event

#659 #658 [Bug] 아이폰 사파리에서 랜덤박스 화질 저하
  package.json
  pnpm-lock.yaml
  src/App.css
  src/components/Event/BodyRandomBox/index.css
  src/components/Event/BodyRandomBox/index.tsx
  src/components/ModalPopup/ModalEvent2023FallItem.tsx
  src/components/ModalPopup/ModalEvent2023FallRandomBox.css
  src/components/ModalPopup/ModalEvent2023FallRandomBox.tsx
  src/pages/Event/Event2023FallMissions.tsx
  src/pages/Event/Event2023FallStore/PublicNoticeContainer.tsx
Labels: 😱 bug, event

#661 #657 한가위 송편 이벤트 시작
  src/atoms/event2023FallInfo.ts
  src/components/Event/BodyRandomBox/index.css
  src/components/Event/WhiteContainerSuggestJoinEvent/index.tsx
  src/components/ModalPopup/ModalEvent2023FallItem.tsx
  src/components/ModalPopup/ModalEvent2023FallJoin.tsx
  src/pages/Event/Event2023Fall.tsx
  src/pages/Event/Event2023FallLeaderboard.tsx
  src/pages/Event/Event2023FallMissions.tsx
  src/pages/Event/Event2023FallStore/PublicNoticeContainer.tsx
  src/pages/Event/Event2023FallStore/index.tsx
  src/pages/Home/EventSection/EventSection2023Fall.tsx
  src/tools/regExpTest.js
Labels: event

#663 #654 광고성 알림 수신 동의 받기
  src/components/ModalPopup/ModalMypageModify.tsx
  src/components/ModalPopup/ModalNotification.tsx
  src/static/events/2023fallTicket1.svg
  src/static/events/2023fallTicket2.svg
  src/tools/trans.js
Labels: mypage

#665 #621.6 달토끼 상점 안내 문구 API 조회
  src/pages/Event/Event2023FallStore/PublicNoticeContainer.tsx
  src/tools/day.ts
Labels: event

#664 #622.1 랜덤박스 구매 인터렉션
  src/components/Event/BodyRandomBox/index.css
  src/components/Event/BodyRandomBox/index.tsx
  src/components/ModalPopup/ModalEvent2023FallItem.tsx
  src/components/ModalPopup/ModalEvent2023FallRandomBox.tsx
  src/pages/Event/Event2023FallStore/ItemListSection.tsx
Labels: event

#667 #633 인스타그램 스토리 이동 이벤트 앱으로 전달
  src/components/DottedLine.tsx
  src/components/Event/WhiteContainerSuggestJoinEvent/index.tsx
  src/components/Link/LinkEvent2023FallInstagramStoryShare.tsx
  src/components/ModalPopup/ModalEvent2023FallItem.tsx
  src/components/ModalPopup/ModalEvent2023FallItemInstagram.tsx
  src/components/ModalPopup/ModalEvent2023FallJoin.tsx
  src/components/ModalPopup/ModalEvent2023FallMissionComplete.tsx
  src/components/ModalPopup/index.tsx
  src/hooks/event/useEventEffect.ts
  src/pages/Event/Event2023Fall.tsx
  src/pages/Event/Event2023FallHistory.tsx
  src/pages/Event/Event2023FallStore/ItemListSection.tsx
  src/types/event2023fall.d.ts
Labels: event

#668 #633.1 공유하기 퀘스트 달성
  src/components/Link/LinkEvent2023FallInstagramStoryShare.tsx
  src/hooks/event/useEvent2023FallQuestComplete.ts
Labels: event

#670 #669 한가위 송편 이벤트 시작 마지막 점검
  package.json
  pnpm-lock.yaml
  src/components/ModalPopup/ModalEvent2023FallItem.tsx
  src/components/ModalPopup/ModalEvent2023FallJoin.tsx
  src/components/Skeleton/SuggestAppTopBar.tsx
  src/hooks/event/useEventEffect.ts
  src/hooks/skeleton/useFlutterEventCommunicationEffect.tsx
  src/index.css
  src/index.tsx
  src/pages/Event/Event2023FallLeaderboard.tsx
  src/tools/toast/index.css
  src/tools/toast/index.tsx
  src/types/inAppNotification.ts
Labels: event

#671 #658.1 랜덤박스 성능 개선
  src/components/Event/BodyRandomBox/index.css
  src/components/Event/BodyRandomBox/index.tsx
  src/hooks/event/useEventEffect.ts
  src/hooks/skeleton/useFlutterEventCommunicationEffect.tsx
  src/pages/Event/Event2023FallLeaderboard.tsx
  src/static/events/2023fallRandomboxBack.png
  src/static/events/2023fallRandomboxBack.svg
  src/static/events/2023fallRandomboxFront.png
  src/static/events/2023fallRandomboxFront.svg
  src/static/events/2023fallRandomboxFrontLight.png
  src/static/events/2023fallRandomboxFrontLight.svg
  src/static/events/2023fallRandomboxLeft.svg
  src/static/events/2023fallRandomboxRight.svg
  src/static/events/2023fallRandomboxRightLight.svg
  src/tools/toast/index.tsx
Labels: 😱 bug, event

#674 #673 긴급 변경사항 반영
  src/components/Header/HeaderWithLeftNav.tsx
  src/components/ModalPopup/ModalEvent2023FallItem.tsx
  src/components/ModalPopup/ModalEvent2023FallItemInstagram.tsx
  src/components/ModalPopup/ModalEvent2023FallRandomBox.tsx
  src/pages/Event/Event2023FallHistory.tsx
  src/pages/Event/Event2023FallStore/ItemListSection.tsx
Labels: event
