Repository sparcs-kaist/taxi-front, pull requests merged in 2023-05, with the labels that each got.

#561 #470 채팅 페이지에서 Socket 연결 끊어짐 감지
  src/components/Footer.tsx
  src/components/ModalPopup/Body/BodyNotificationGuide.tsx
  src/components/ModalPopup/Body/BodyRoomSelection.tsx
  src/components/ModalPopup/ModalNotification.tsx
  src/components/ModalPopup/ModalReportInChatting.tsx
  src/components/Skeleton/SocketToastProvider.tsx
  src/components/Skeleton/index.tsx
  src/pages/Chatting/MessagesBody/ChatSet.jsx
  src/pages/Chatting/MessagesBody/index.jsx
  src/pages/Chatting/index.jsx
  src/pages/Chatting/utils.ts
  src/pages/Myroom/R2Myroom.jsx
  src/types/global.d.ts
Labels: 😱 bug, chatting

#566 방 이름 정규식에서 '~'를 비롯한 특수문자 허용
  src/tools/regExpTest.js
Labels: ⚒ enhancement

#568 #564 [Bug] 홈페이지 "n일 후 출발 예정" 날짜 오류
  src/pages/Home/InfoSection.tsx
  src/pages/Home/index.tsx
Labels: 😱 bug, home

#570 #569 [Bug] 홈페이지 - 방 클릭 시 페이지가 1로 초기화
  src/hooks/usePageFromSearchParams.tsx
  src/pages/Home/RoomList.tsx
  src/pages/Home/RoomSection.tsx
Labels: 😱 bug, home

#572 #525.2 이벤트 홍보 페이지 개선
  src/pages/Event/Event2023Spring.tsx
Labels: event

#574 #571 이용 약관과 개인 정보 수집 동의 분리
  src/components/ModalPopup/Body/BodyTerms.tsx
  src/components/ModalPopup/Body/BodyTermsPrivacy.tsx
  src/components/ModalPopup/ModalTerms.jsx
  src/components/ModalPopup/ModalTerms.tsx
  src/pages/Mypage/index.tsx
  src/pages/Mypage/langs/en.json
  src/pages/Mypage/langs/ko.json
Labels: mypage

#577 #575 이벤트 홍보 안내 페이지 가리기
  src/pages/Home/index.tsx
Labels: home

#576 #545.2 IOS 기기 모바일에서 홈 페이지 접근 시, 택시 앱 유도 창 띄우기
  src/components/Skeleton/index.tsx
  src/tools/trans.js
Labels: skeleton

#582 #545.3 IOS 기기 모바일에서 홈 페이지 접근 시, 택시 앱 유도 창 띄우기
  src/tools/trans.js
Labels: tool
