Repository sparcs-kaist/taxi-front, pull requests merged in 2024-02, with the labels that each got.

#729 #725.2 2024 봄학기 이벤트 스켈레톤 만들기
  packages/web/src/pages/Home/EventSection/index.tsx
Labels: event

#736 2024 봄학기 이벤트 리더보드 이벤트 테마 코드 사용
  packages/web/src/pages/Event/Event2024SpringLeaderboard.tsx
  packages/web/src/tools/eventTheme.ts
  packages/web/src/tools/loadenv.ts
Labels: 🖥 working, 🔨refactoring, event

#742 [FIX] Credit "2024 봄학기 새터반 택시대제전 이벤트"를 만든 사람들의 순서를 전체 바로 다음에 오도록 수정
  packages/web/src/components/ModalPopup/ModalCredit.tsx
  packages/web/src/pages/Mypage/langs/en.json
  packages/web/src/pages/Mypage/langs/ko.json
Labels: 😱 bug

#747 #746 2024 봄학기 새터반 택시 대제전 퀘스트 연결
  packages/web/src/components/ModalPopup/ModalChatPayment.tsx
  packages/web/src/components/ModalPopup/ModalChatSaveAccount.tsx
  packages/web/src/components/ModalPopup/ModalChatSettlement.tsx
  packages/web/src/components/ModalPopup/ModalMypageModify.tsx
  packages/web/src/components/ModalPopup/ModalNotification.tsx
  packages/web/src/components/ModalPopup/ModalRoomShare.tsx
  packages/web/src/hooks/event/useEvent2024SpringQuestComplete.ts
  packages/web/src/pages/Addroom/index.tsx
Labels: 😱 bug

#745 2024 봄학기 이벤트 방 생성시 경고 모달
  packages/web/src/components/ModalPopup/Body/BodyEvent2024AbuseWarning.tsx
  packages/web/src/components/ModalPopup/ModalEvent2024SpringAbuseWarning.tsx
  packages/web/src/components/ModalPopup/ModalEvent2024SpringJoin.tsx
  packages/web/src/components/ModalPopup/index.tsx
  packages/web/src/pages/Addroom/index.tsx
  packages/web/src/pages/Event/Event2024Spring.tsx
  packages/web/src/pages/Event/Event2024SpringMissions.tsx
Labels: 🖥 working, event

#751 Fix: 새터반 택스트 너비 고정
  packages/web/src/pages/Event/Event2024SpringLeaderboard.tsx
Labels: 😱 bug
