Repository sparcs-kaist/taxi-front, pull requests merged in 2025-03, with the labels that each got.

#868 2025 새학기 이벤트 : 리더보드 순위 관련 수정
  packages/web/src/pages/Event/Event2025SpringStore/Leaderboard.tsx
Labels: 😱 bug, event

#867 2025 새학기 이벤트 : 랜덤박스 모달 수정
  packages/web/src/components/ModalPopup/ModalEvent2025SpringItem.tsx
  packages/web/src/components/ModalPopup/ModalEvent2025SpringRandomBox.tsx
Labels: 😱 bug, event

#876 #875 2025 새학기 이벤트 : 밸런스 게임 페이지 수정
  packages/web/src/components/Event/DailyAttendanceCalendar/index.tsx
  packages/web/src/pages/Event/Event2025SpringDailyAttendance.tsx
Labels: event

#870 #869 [Refactor] Docker 이미지 사이즈 줄이기
  Dockerfile
  serve/default.conf.template
Labels: 🔨refactoring

#884 #883 2025 새학기 이벤트: 종료 및 결과 발표
  packages/web/src/pages/Home/EventSection/EventSection2025SpringResult.tsx
  packages/web/src/pages/Home/EventSection/index.tsx
  packages/web/src/tools/loadenv.ts
Labels: event

#882 날짜 변경 시 애니메이션 발생 버그 수정 (/home)
  packages/web/src/pages/Home/RoomList.tsx
  packages/web/src/pages/Home/RoomSection.tsx
Labels: 😱 bug

#887 #883.2 2025 새학기 이벤트: 결과 섹션 삭제
  packages/web/src/pages/Home/EventSection/index.tsx
Labels: event
