Repository sparcs-kaist/taxi-front, pull requests merged in 2025-02, with the labels that each got.

#806 #805 회원 탈퇴 구현
  packages/web/src/components/Chat/MessagesBody/MessageSet/index.tsx
  packages/web/src/components/ModalPopup/Body/BodyAccountCancelProcess.tsx
  packages/web/src/components/ModalPopup/Body/BodyAccountWithdrawProcess.tsx
  packages/web/src/components/ModalPopup/Body/BodyAccountWithdrawProcess2nd.tsx
  packages/web/src/components/ModalPopup/Body/BodyChatReportSelectType.tsx
  packages/web/src/components/ModalPopup/Body/BodyChatReportSelectUser.tsx
  packages/web/src/components/ModalPopup/ModalAccountCancelProcess.tsx
  packages/web/src/components/ModalPopup/ModalAccountWithdrawProcess.tsx
  packages/web/src/components/ModalPopup/index.tsx
  packages/web/src/components/User/ProfileImage.tsx
  packages/web/src/components/User/index.tsx
  packages/web/src/pages/Mypage/Menu.tsx
  packages/web/src/pages/Mypage/index.tsx
  packages/web/src/pages/Mypage/langs/en.json
  packages/web/src/pages/Mypage/langs/ko.json
  packages/web/src/static/assets/profileImgWithdraw.png
  packages/web/src/types/chat.d.ts
  packages/web/src/types/global.d.ts
Labels: ⚒ enhancement, 🖥 working

#849 2025 봄 이벤트: 스켈레톤 코드
  packages/web/src/atoms/event2025SpringInfo.ts
  packages/web/src/components/Event/CreditAmountStatusContainer/index.tsx
  packages/web/src/components/Event/WhiteContainerSuggestJoinEvent/index.tsx
  packages/web/src/components/Event/WhiteContainerSuggestShareEvent/index.tsx
  packages/web/src/components/Footer/index.tsx
  packages/web/src/components/ModalPopup/Body/BodyEvent2025SpringAbuseWarning.tsx
  packages/web/src/components/ModalPopup/Body/BodyEvent2025SpringShare.tsx
  packages/web/src/components/ModalPopup/ModalCredit.tsx
  packages/web/src/components/ModalPopup/ModalEvent2025SpringAbuseWarning.tsx
  packages/web/src/components/ModalPopup/ModalEvent2025SpringItem.tsx
  packages/web/src/components/ModalPopup/ModalEvent2025SpringJoin.tsx
  packages/web/src/components/ModalPopup/ModalEvent2025SpringRandomBox.tsx
  packages/web/src/components/ModalPopup/ModalEvent2025SpringShare.tsx
  packages/web/src/components/ModalPopup/index.tsx
  packages/web/src/components/Skeleton/index.tsx
  packages/web/src/hooks/event/useEvent2025SpringEffect.ts
  packages/web/src/hooks/event/useEvent2025SpringQuestComplete.ts
  packages/web/src/hooks/useFetchRecoilState/index.tsx
  packages/web/src/hooks/useFetchRecoilState/useFetchEvent2025SpringInfo.tsx
  packages/web/src/pages/Addroom/index.tsx
  packages/web/src/pages/Event/Event2025Spring.tsx
  packages/web/src/pages/Event/Event2025SpringHistory.tsx
  packages/web/src/pages/Event/Event2025SpringMissions.tsx
  packages/web/src/pages/Event/Event2025SpringStore/ItemListSection.tsx
  packages/web/src/pages/Event/Event2025SpringStore/NPCSection.tsx
  packages/web/src/pages/Event/Event2025SpringStore/PublicNoticeContainer.tsx
  packages/web/src/pages/Event/Event2025SpringStore/index.tsx
  packages/web/src/pages/Event/index.tsx
  packages/web/src/pages/Home/EventSection/EventSection2025Spring.tsx
  packages/web/src/pages/Home/EventSection/EventSection2025SpringResult.tsx
  packages/web/src/pages/Home/EventSection/index.tsx
  packages/web/src/pages/Home/index.tsx
  packages/web/src/pages/Mypage/index.tsx
  packages/web/src/pages/Mypage/langs/en.json
  packages/web/src/pages/Mypage/langs/ko.json
  packages/web/src/static/members/index.ts
  packages/web/src/static/members/members2025SpringEvent.ts
  packages/web/src/tools/loadenv.ts
  packages/web/src/tools/random/event2025SpringStoreSpeeches.ts
  packages/web/src/tools/random/index.ts
  packages/web/src/types/event2025spring.d.ts
Labels: event

#846 #837 채팅창에서 메세지별로 안 읽은 사람 수 보여주기
  packages/web/src/components/Chat/MessagesBody/MessageSet/index.tsx
  packages/web/src/components/Chat/MessagesBody/index.tsx
  packages/web/src/components/Chat/index.tsx
  packages/web/src/components/Skeleton/SocketToastProvider.tsx
  packages/web/src/hooks/chat/useChatsForBody.tsx
  packages/web/src/hooks/chat/useReadChat.tsx
  packages/web/src/hooks/chat/useSendMessage.tsx
  packages/web/src/hooks/chat/useSocketChatEffect.tsx
  packages/web/src/hooks/useDateToken.tsx
  packages/web/src/tools/loadenv.ts
  packages/web/src/types/global.d.ts
Labels: chatting

#855 #854 2025 봄 이벤트: 쿠폰 시스템
  packages/web/src/components/ModalPopup/ModalEvent2025SpringCoupon.tsx
  packages/web/src/components/ModalPopup/index.tsx
  packages/web/src/pages/Event/Event2025Spring.tsx
  packages/web/src/tools/loadenv.ts
  packages/web/src/tools/regExpTest.js
Labels: event

#851 2025 봄 이벤트 : 출석 체크 퀴즈 페이지
  packages/web/src/components/Event/CreditAmountStatusContainer/index.tsx
  packages/web/src/components/Event/DailyAttendanceCalendar/index.tsx
  packages/web/src/components/Event/DailyAttendanceQuizResult/index.tsx
  packages/web/src/components/Event/WhiteContainerSuggestJoinEvent/index.tsx
  packages/web/src/components/Event/WhiteContainerSuggestShareEvent/index.tsx
  packages/web/src/components/Footer/index.tsx
  packages/web/src/components/ModalPopup/Body/BodyEvent2024FallAbuseWarning.tsx
  packages/web/src/components/ModalPopup/Body/BodyEvent2025SpringAbuseWarning.tsx
  packages/web/src/components/ModalPopup/Body/BodyEvent2025SpringShare.tsx
  packages/web/src/components/ModalPopup/ModalEvent2024FallDailyAttendance.tsx
  packages/web/src/components/ModalPopup/ModalEvent2025SpringDailyAttendance.tsx
  packages/web/src/components/ModalPopup/ModalEvent2025SpringItem.tsx
  packages/web/src/components/ModalPopup/ModalEvent2025SpringJoin.tsx
  packages/web/src/components/ModalPopup/index.tsx
  packages/web/src/components/Skeleton/index.tsx
  packages/web/src/hooks/event/useEvent2025SpringCancelAnswer.ts
  packages/web/src/hooks/event/useEvent2025SpringEffect.ts
  packages/web/src/hooks/event/useEvent2025SpringSubmitAnswer.ts
  packages/web/src/hooks/useTaxiAPI/useQuery.ts
  packages/web/src/pages/Event/Event2024FallDailyAttendance.tsx
  packages/web/src/pages/Event/Event2025Spring.tsx
  packages/web/src/pages/Event/Event2025SpringDailyAttendance.tsx
  packages/web/src/pages/Event/Event2025SpringMissions.tsx
  packages/web/src/pages/Event/Event2025SpringStore/PublicNoticeContainer.tsx
  packages/web/src/pages/Event/index.tsx
  packages/web/src/pages/Home/EventSection/EventSection2025Spring.tsx
  packages/web/src/pages/Home/EventSection/EventSection2025SpringResult.tsx
  packages/web/src/pages/Mypage/index.tsx
  packages/web/src/pages/Mypage/langs/ko.json
  packages/web/src/static/events/2025springDailyAttendance.svg
  packages/web/src/tools/random/event2025SpringStoreSpeeches.ts
  serve/invite-event.html
Labels: event

#860 #859 [Bug] 랜덤박스에서 잭팟이 터지면 송편이 나옴
  packages/web/src/components/ModalPopup/ModalEvent2025SpringRandomBox.tsx
  packages/web/src/static/events/2025springJackpotSuccess.svg
Labels: 😱 bug, event

#862 #861 [Bug] 일부 퀘스트가 달성되지 않거나, 퀘스트 달성 알림이 오지 않음
  packages/web/src/components/ModalPopup/ModalChatPayment.tsx
  packages/web/src/components/ModalPopup/ModalChatSaveAccount.tsx
  packages/web/src/components/ModalPopup/ModalChatSettlement.tsx
  packages/web/src/components/ModalPopup/ModalMypageModify.tsx
  packages/web/src/components/ModalPopup/ModalNotification.tsx
  packages/web/src/components/ModalPopup/ModalRoomShare.tsx
Labels: 😱 bug, event

#864 #858 2025 봄 이벤트: 인스타그램 링크 수정
  packages/web/src/components/Event/DailyAttendanceCalendar/index.tsx
  packages/web/src/pages/Event/Event2025Spring.tsx
  packages/web/src/static/events/2025springBonusSection2.svg
  packages/web/src/static/events/2025springDailyAttendanceComplete.svg
Labels: event
